<div class="row">
    <div class="col-sm-6">
        <img src="images/graph.png" alt="">
    </div>
    <div class="col-sm-6">
        <h1>Reach out to us!</h1>
        <p>Enter your email if you're interested to learn more:</p>
        <form action="/subscriber" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" value="">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" value="">
            </div>
            <div class="form-group">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" pattern="[0-9]{5}" name="zipCode">
            </div>
            <input class="button" type="submit" value="submit">
        </form>
        <p> We'll get back to you soon!</p>
    </div>
</div>